:root {
  --primary-color: #4CAF50; /* Verde suave */
  --dark-color: #2d7130; /* Verde suave */
  --border-color: #81C784; /* Verde claro para los bordes */
  --bg-color: #E8F5E9; /* Verde muy claro para el fondo */
}


.loginContainer {
  background-color: var(--bg-color);
}

.navbarBg {
  background-color: var(--bg-color) !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--border-color) !important;
}

.btn-primary:hover {
  background-color: var(--dark-color) !important;
}

/* Oculta los botones de incremento y decremento en navegadores que los muestran */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* Swal styles */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: var(--primary-color) !important;
  border-color: var(--border-color) !important;
}

.loginLinkClass {
  color: var(--primary-color) !important;
}


.ladingHeroBg {
  /* background: rgb(54,144,58);
  background: linear-gradient(140deg, rgba(54,144,58,1) 0%, rgba(76,175,80,1) 54%, rgba(113,209,116,1) 100%); */

  background: rgb(76,175,80);
  background: linear-gradient(180deg, rgba(76,175,80,1) 0%, rgba(76,175,80,1) 88%, rgba(146,215,148,1) 95%, rgba(255,255,255,1) 100%);
}